:root {
	--colorbgblack: #151515;
	--colorbgwhite: #f6f6f6;
	--colorlink: #5f04aa;
	--colorwhite: #ffffff;
	--colorblack: #000000;
}
/* ************** Reset CSS ************** */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* ************** FONT ************** */
@font-face {
	font-family: montserrat-medium;
	src: url(../assets/font/Montserrat-Medium.ttf);
}
body {
	font-family: 'montserrat-medium', sans-serif;
	scroll-behavior: smooth;
}
p {
	font-size: 18px;
}
/* ************** NAV ************** */
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
.ctn-menu,
.menu,
.menu li {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 10vh;
	background: var(--colorbgwhite);
}
.ctn-menu .menu li a {
	color: var(--colorblack);
	text-transform: uppercase;
	font-weight: 900;
	font-size: 18px;
	padding: 0 20px;
	position: relative;
	transition: 300ms;
}
.ctn-menu .menu li a::after,
#active::after {
	content: '';
	width: 50px;
	height: 5px;
	position: absolute;
	top: -15px;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 300ms;
}
ctn-menu .menu li a::after {
	background: transparent;
}
.ctn-menu .menu li a:hover::after {
	background: var(--colorlink);
}
.ctn-menu .menu li a:hover {
	color: var(--colorlink);
}
#active {
	color: var(--colorlink);
}
#active::after {
	background: var(--colorlink);
}
#language {
	background-color: #e0e0e0;
	height: fit-content;
	padding: 10px 20px;
	border-radius: 50px;
}
#language a {
	padding: 5px;
}
#language a:hover::after {
	background: none;
}
#active-language {
	color: var(--colorlink);
}
/* ************** HEADER ************** */
.header {
	background: url(../assets/img/bg.jpg) fixed center / cover;
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5rem;
	margin: 40px 0;
	color: var(--colorwhite);
}
.header a {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 16px;
	color: var(--colorwhite);
	padding: 18px 35px;
	border: var(--colorwhite) solid 1px;
	transition: 300ms;
}
.header a::after {
	content: '\276F';
	margin-left: 20px;
}
.header a:hover,
.services a:hover {
	background-color: var(--colorbgwhite);
	color: var(--colorblack);
	transition: 300ms;
}
/* ************** SUBHEADER ************** */
.ctn-subheader {
	height: 20vh;
	padding: 0 10vw;
	background: var(--colorbgwhite);
	display: flex;
	justify-content: center;
	align-items: center;
}
.ctn-subheader p {
	font-size: 22px;
	text-align: center;
	font-weight: 600;
	line-height: 40px;
}
/* ************** SERVICES ************** */
.ctn-main-services,
.services {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.ctn-services {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ctn-main-services {
	padding: 10vh 15vw;
	background: var(--colorbgblack);
}
.services {
	flex-direction: column;
	width: 25%;
}
.services h2,
.services p {
	color: var(--colorwhite);
}
.services h2 {
	text-transform: uppercase;
	font-size: 1.2rem;
	margin: 40px 0 20px;
	text-align: center;
}
.services p {
	text-align: center;
	margin-bottom: 40px;
}
.services a {
	color: var(--colorwhite);
	font-size: 18px;
	text-transform: uppercase;
	border: var(--colorwhite) 1px solid;
	padding: 10px 35px;
}
/* ************** NEWS ************** */
/* Title */
.ctn-main-news {
	padding: 10vh 15vw;
	background: var(--colorbgwhite);
}
.news-title {
	display: grid;
	grid-template-columns: 73% 27%;
	margin-bottom: 7vh;
}
.news-title h3 {
	text-transform: uppercase;
	font-size: 1.6rem;
	font-weight: 500;
	letter-spacing: 3px;
}
.news-title p {
	font-size: 22px;
	line-height: 50px;
	font-weight: 600;
}
#btn-newsroom {
	display: flex;
	align-items: center;
}
#btn-newsroom a {
	color: var(--colorblack);
	font-size: 18px;
	text-transform: uppercase;
	border: var(--colorblack) 1px solid;
	padding: 15px 35px;
	transition: 300ms;
}
#btn-newsroom a::after {
	content: '\276F';
	margin-left: 20px;
}
#btn-newsroom a:hover {
	background-color: var(--colorblack);
	color: var(--colorbgwhite);
}
/* NEWS */
.ctn-news {
	display: flex;
	justify-content: space-between;
}
.news {
	width: 25%;
	max-width: 450px;
	position: relative;
}
.news img {
	width: 100%;
	box-shadow: 1px 1px 7px;
	border-radius: 5px;
	object-fit: cover;
}
.news h4 {
	font-size: 1.2rem;
	margin: 20px 0;
}
.news p {
	line-height: 25px;
	margin-bottom: 50px;
}
.news a {
	font-size: 16px;
	font-weight: 600;
	color: var(--colorlink);
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 300ms;
	position: absolute;
	bottom: 0;
}
.news a::after {
	content: '\276F';
	margin-left: 20px;
}
.news a:hover {
	transform: translate(30px);
}
/* ************** FOOTER ************** */
.ctn-main-footer {
	background: var(--colorwhite);
}
/* Top footer */
.ctn-footer-top {
	padding: 10vh 15vw;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.footer-element {
	width: 75%;
}
.footer-element img {
	width: 100%;
	max-width: 250px;
}
h5 {
	text-transform: uppercase;
	font-size: 1.2rem;
	margin-bottom: 25px;
}
.footer-element li {
	margin-bottom: 20px;
}
.footer-element a {
	font-size: 18px;
	font-weight: 900;
	color: var(--colorlink);
}
.footer-element p,
.footer-element div a {
	line-height: 30px;
	color: var(--colorblack);
	margin-bottom: 20px;
}
.footer-element div {
	margin-bottom: 40px;
}
.footer-element i {
	font-size: 30px;
	margin-right: 15px;
}
/* Separation footer */
#footer-separation {
	width: 60%;
	margin: 0 auto;
	border: #ebebeb 1px solid;
}
/* Bottom footer */
.ctn-footer-bot {
	padding: 7vh 15vw;
	display: grid;
	grid-template-columns: 35% 65%;
}
.ctn-footer-bot div p {
	font-weight: 600;
	font-size: 22px;
}
.ctn-mediapress {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/* ************** PARTNER ************** */
.ctn-main-partner {
	background: var(--colorbgblack);
	padding: 5vh 15vw;
}
h6 {
	font-weight: 100;
	font-size: 1.5rem;
	color: var(--colorwhite);
	text-align: center;
	margin-bottom: 50px;
}
.ctn-partner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* **************  MEDIA QUERIES ************** */
@media screen and (max-width: 1350px) {
	/* ************** NAV ************** */
	.ctn-menu .menu li a {
		font-size: 14px;
	}
	/* ************** SUBHEADER ************** */
	.ctn-subheader {
		padding: 0 5vw;
	}
	/* ************** SERVICES ************** */
	.ctn-main-services {
		padding: 5vh 5vw;
	}
	.services h2 {
		margin: 40px 0 20px;
	}

	/* ************** NEWS ************** */
	/* Title */
	.ctn-main-news {
		padding: 5vh 5vw;
	}

	.news-title {
		grid-template-columns: 100%;
		margin-bottom: 5vh;
	}

	.news-title h3 {
		font-size: 1.6rem;
	}
	.news-title p {
		margin: 15px 0 5vh 0;
	}
	/* NEWS */
	.news {
		width: 30%;
	}
	.news a {
		font-size: 16px;
		color: var(--colorlink);
		letter-spacing: 2px;
	}
	/* ************** FOOTER ************** */
	/* Top footer */
	.ctn-footer-top {
		padding: 5vh 5vw;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto auto;
		row-gap: 3rem;
	}
	.footer-img {
		width: 100%;
		grid-column: 2/3;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.info-footer1,
	.info-footer2,
	.info-footer3 {
		grid-row: 2/3;
	}
	/* Bottom footer */
	.ctn-mediapress {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.ctn-footer-bot div p {
		font-size: 22px;
		margin-bottom: 5vh;
	}
	.ctn-footer-bot {
		padding: 5vh 5vw;
		grid-template-columns: 100%;
	}
	.ctn-main-partner {
		padding: 5vh 5vw;
	}
	.ctn-main-partner img {
		width: 50px;
	}
}
@media screen and (max-width: 1000px) {
	/* ************** NAV ************** */
	.ctn-menu {
		display: none;
	}
	/* ************** HEADER ************** */
	.header {
		height: 80vh;
	}
	.header img {
		width: 80%;
	}

	/* ************** SERVICES ************** */
	.ctn-services {
		flex-direction: column;
	}
	.services {
		margin: 25px 0;
		width: 90%;
	}
	/* ************** NEWS ************** */
	.news-title h3,
	.news-title p {
		text-align: center;
	}
	.news-title p {
		line-height: 30px;
	}
	#btn-newsroom {
		margin: 0 auto;
	}
	.ctn-news {
		flex-direction: column;
		align-items: center;
	}
	.news {
		width: 95%;
		margin: 30px 0;
	}
	.news img {
		width: 60%;
		margin: 25px 0;
		display: block;
		margin: 0 auto;
	}
	.news p {
		margin-bottom: 40px;
	}
	/* ************** FOOTER ************** */
	.ctn-footer-top {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 0;
	}
	.footer-element {
		text-align: center;
		margin: 25px 0;
	}
	.footer-element img {
		width: 30%;
	}
	.footer-element i {
		margin: 0 15px;
	}
	.info-footer2 p {
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 750px) {
	/* ************** HEADER ************** */
	.sub-header p {
		line-height: normal;
	}
	/* ************** FOOTER ************** */
	.footer-element img {
		width: 50%;
	}
	.footer-element li {
		margin-bottom: 15px;
	}
	.ctn-footer-bot {
		display: none;
	}
	/* ************** PARTNER ************** */
	h6 {
		margin-bottom: 35px;
	}
	.ctn-partner img {
		width: 7%;
	}
}
@media screen and (max-width: 500px) {
	/* ************** HEADER ************** */
	.header h1 {
		font-size: 1.3rem;
	}
	.ctn-subheader p {
		font-size: 18px;
		line-height: 30px;
	}
	.header a {
		padding: 15px;
		font-size: 14px;
	}
}
@media screen and (min-width: 2500px) {
	.ctn-subheader,
	.ctn-main-services,
	.ctn-main-news,
	.ctn-footer-top {
		padding: 10vh 25vw;
	}
	.ctn-footer-bot,
	.ctn-main-partner {
		padding: 5vh 25vw;
	}
	#footer-separation {
		width: 40%;
	}
}